/* Reseteo básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo global */
html,
body {
  background-color: #f8f9fa;
  height: 100%;
}

/* Contenedor del login */
.login-container {
  display: flex;
  height: 100%;
  background: linear-gradient(rgba(48, 38, 110, 1), rgba(7, 4, 28, 1));
}

.logo-empresa {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

/* Fondo de la izquierda */
.right-background {
  flex: 1;
  background-color: rgba(255, 255, 255, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}

/* Contenedor del formulario */
.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 30px;
}

/* Formulario */
.login-form {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
}

/* Botón de 'Forgot Password' */
.forgot-password {
  color: rgba(28, 28, 28, 1);
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.full-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
